# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/test-results
/playwright-report

# next.js
/.next/
/out/

# velite
/.velite

# production
/build

# misc
.DS_Store
*.pem

# env
.env
.env*.local
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
